<!--div class="container">
    <h3 class="text-center">Cadastre um novo produto!</h3>
    <br>
    <form #f="ngForm">
        <div class="form-control">
            <div class="form-group row">
                <label class="col-2 col-form-label">Nome</label>
                <div class="col-12">
                    <input name="nome" class="form-control" type="text" [(ngModel)]="produto.nome" #nome="ngModel" required placeholder="Nome">
                </div>
            </div>
        </div>
        <button class="btn btn-secondary btn-lg btn-block" type="submit" [disabled]="f.invalid" (click)="onSubmit(f)">Adicionar produto</button>
    </form>
</div>
<br>
<br>
<br-->